# Contents
## 1. What is value
## 2. print () function
## 3. type () function
## 4. Variable
## 5. Variable names and keywords
## 6. Statements
## 7. Operators and operands
## 8. Order of operations
## 9. String operations
## 10. Asking the user for input
## 11. Type Casting
## 12. Comments

# 1. Value

### A value is one of the basic things a program works with, like a letter or a number.
The values could be 1, 2.5, and 'Hello, World!'.

These values belong to different types: 1 is an integer, 2.5 is float and "Hello World" is a string

# 2. print() function

We can print these values using print () function

In [1]:
print (1)

1

In [2]:
print(2.5)

2.5

In [3]:
print ("hello world")

hello world

In [4]:
print ('hello world')

hello world

In [7]:
# print two or more values using single statement

print("Bushra","BSDSF21M020","Data Science")

Bushra BSDSF21M020 Data Science

In [8]:
# print the name of your country
print("Pakistan")

Pakistan

In [9]:
# print your date of birth
print("Date of Birth: 17th January, 2004")

Date of Birth: 17th January, 2004

In [11]:
# print your name, age and height using one print statement
print("Name: Bushra Shahbaz\nAge: 20\nHeight: 5'1 ")

Name: Bushra Shahbaz
Age: 20
Height: 5'1

# 3. type() function

If you are not sure what type a value has, the interpreter can tell you.

In [12]:
type(1)

int

In [13]:
type(2.5)

float

In [14]:
type("hello world")

str

In [16]:
# what will be the type of '5'
type('5')

# what is type of 9.3333333333

str

In [15]:
type(9.333333333333333)

float

In [17]:
#print the type of (), [], {} 
type(())

tuple

In [18]:
type([])

list

In [19]:
type({})

dict

In [ ]:
# what is output of type(range(5))

In [20]:
type(range(5))

range

# 4. Variable

One of the most powerful features of a programming language is the ability to
manipulate variables. 

A variable is a name that refers to a value.

Variables names are case sensitive

In [21]:
# An assignment statement creates new variables and gives them values:
name = "Ahmed"
age = 20
height = 3.5

This example makes three assignments, first assign "Ahmed" to name variable, second assign 20 to age and 3.5 to height

In [22]:
# to print the name you can use print statement
print(name)

Ahmed

In [23]:
# print the values of age and height
print(age)
print(height)

20
3.5

In [24]:
# print all three values using single print statement
print(name,age,height)

Ahmed 20 3.5

In [28]:
# What will happen if you print 1 million using following statement
print(1,000,000)
# now search out the way to print 1 million and try it out
print(1000000)

1 0 0
1000000

In [29]:
# Store three integers in x,y,z and print them using single print statement.
x=2
y=3
z=5
print("x=",x,"y=",y,"z=",z)

x= 2 y= 3 z= 5

In [31]:
var1 = 121.25
# print type of var1
print(type(var1))

<class 'float'>

# 5. Variable names and keywords

Variable names can be arbitrarily long. 
They can contain both letters and numbers,but they have to begin with a letter.
The underscore character (_) can appear in a name.
Variable names can start with an underscore character, but we generally avoid using it unles
we are writing library code for others to use.

In [38]:
#what will happen
#47name = 'Pakistan'
#name@ = 'Pakistan'
#class = 'Pakistan'

myname = 'kamran'
first_val = 10
string = 'abc'

First three will cause syntax errors but last three are valid variable names

It turns out that class is one of Python’s keywords.
The interpreter uses keywords to recognize the structure of the program, and they cannot be used as variable names.

# 6. Statements

A statement is a unit of code that the Python interpreter can execute.
We have seen two kinds of statements: print and assignment.

# 7. Operators and operands

Operators are special symbols that represent computations like addition and multiplication.
The values the operator is applied to are called operands.

In [39]:
# The operators +, -, *, / and ** perform addition, subtraction, multiplication, division,
# exponentiation and modulus operator as in the following examples:
print (20+32, 3-1, 4*5 , 12/6,  5**2, 13%5)

52 2 20 2.0 25 3

In [40]:
# print 200+323-433
print(200+323-433)

90

In [41]:
# print (2+1)*(8-6)
print((2+1)*(8-6))

6

In [42]:
# print no of bytes in 1KB using exponentiation operator
print(2**10)

1024

In [43]:
# print(2*3**3*4)
print(2*3**3*4)

216

# 8. Expressions

An expression is a combination of values, variables, and operators.

Assignement: type the following statements in the Python interpreter to see what
they do:
5
x = 5
x + 1

In [47]:
# execute the following statements and see the output
5
x = 5
x + 1

6

In [49]:
# what is output of
y = 10
x = (y+=2)
print(x)

SyntaxError: invalid syntax (2094059977.py, line 3)

In [51]:
# Store three integers in x,y,z and print their sum and product.
x=2
y=3
z=4
print("Sum:",x+y+z)
print("Product:",x*y*z)

Sum: 9
Product: 24

# 9. Order of operations

When more than one operator appears in an expression, the order of evaluation
depends on the rules of precedence. 
For mathematical operators, Python follows mathematical convention. 
The acronym PEMDAS is a useful way to remember the rules:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and Subtraction
Operators with the same precedence are evaluated from left to right.

In [ ]:
# write output of the following commands without excuting it
# print (2*(3-1)) ---> 4
# print ((1+1)**(5-2)) ---> 8
# print (2**1+1) ----> 3
# print (3*1**3) ----> 3

# 10. String operations

In [53]:
first = 10
second = 20
print (first + second)

30

In [54]:
first = '10'
second = '20'
print (first + second)

1020

In [55]:
print ("hello" * 3 )

hellohellohello

In [56]:
# print your name 10 times
print("Bushra" * 10)

BushraBushraBushraBushraBushraBushraBushraBushraBushraBushra

In [57]:
# What is output of var="James"*2*3
var="James"*2*3
print(var)

JamesJamesJamesJamesJamesJames

# 11. Asking the user for input

In [58]:
name = input("please enter name: ")
print (name)

please enter name: Bushra
Bushra

In [59]:
# wirte a program which take age from user and concate it three time
age=input("please enter age: ")
print(age*3)

please enter age: 20
202020

In [61]:
# Write a program to accept two numbers from the user and calculate multiplication.
num1=int(input("enter number1: "))
num2=int(input("enter number2: "))
print(num1*num2)

enter number1: 4
enter number2: 6
24

In [63]:
# modify this code so that it prints 121212 instead of 36
age=12
print(age*3)

36

In [64]:
age=str(age)
print(age)

12

# 12. Type Casting

In [65]:
a = '10'
print (a)

10

In [67]:
int(a)
str(a)

'10'

In [68]:
# take an integer from user and multiply it with 15
num=int(input('enter a num: '))
print(num*15)

enter a num: 4
60

In [71]:
num_int = 123
num_str = "456"
# Find the sum of these 2 variables
add=num_int+int(num_str)
print(add)

579

# 13. Comments

In [ ]:
# here is comments

# Exercise

Write a program that uses raw_input to prompt a user for their name and then welcomes them.

Enter your name: Chuck
Hello Chuck

In [73]:
name=input('enter your name: ')
print("Hello",name)

enter your name: chuck
Hello chuck

Write a program to prompt the user for hours and rate per hour to
compute gross pay.

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

In [75]:
hours=int(input("Enter Hours: "))
rate=float(input("Enter Rate: "))
pay=hours*rate
print("Pay: ",pay)

Enter Hours: 35
Enter Rate: 2.75
Pay:  96.25

Assume that we execute the following assignment statements:
width = 17
height = 12.0

For each of the following expressions, write the value of the expression and the
type (of the value of the expression).

1. width/2 ----> value: 8.5  type: float
2. width/2.0---> value: 8.5  type: float
3. height/3----> value: 4.0  type: float
4. 1 + 2 * 5 --> value: 11   type: int

Use the Python interpreter to check your answers.

In [82]:
width=17
height=12.0
width/2
width/2.0
height/3
1+2*5

11

Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit and print out the converted temperature.

In [84]:
cel=float(input('Enter temperature in Celsius: '))
far= (cel*(9/5))+32
print("Temperature in Fahrenheit is ",far)

Enter temperature in Celsius: 32.5
Temperature in Fahrenheit is  90.5